# Copiá este archivo como .env y completá los valores
# NUNCA subas el .env a GitHub

SECRET_KEY=tu-secret-key-muy-larga-y-segura
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos local
DB_NAME=sat_electronica
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Email
EMAIL_HOST_USER=lgi.repara@gmail.com
EMAIL_HOST_PASSWORD=tu-app-password-de-gmail
